
MNIST/FashionMNIST/raw/t10k-images-idx3-ubyte
MNIST/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
MNIST/FashionMNIST/raw/t10k-labels-idx1-ubyte
MNIST/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
MNIST/FashionMNIST/raw/train-images-idx3-ubyte
MNIST/FashionMNIST/raw/train-images-idx3-ubyte.gz
MNIST/FashionMNIST/raw/train-labels-idx1-ubyte
MNIST/FashionMNIST/raw/train-labels-idx1-ubyte.gz
MNIST/MNIST/raw/t10k-images-idx3-ubyte
MNIST/MNIST/raw/t10k-images-idx3-ubyte.gz
MNIST/MNIST/raw/t10k-labels-idx1-ubyte
MNIST/MNIST/raw/t10k-labels-idx1-ubyte.gz
MNIST/MNIST/raw/train-images-idx3-ubyte
MNIST/MNIST/raw/train-images-idx3-ubyte.gz
MNIST/MNIST/raw/train-labels-idx1-ubyte
MNIST/MNIST/raw/train-labels-idx1-ubyte.gz
